---
layout: projects
title: Publications
permalink: /publications/
---

<div class="container mtb">
    {% for publications in site.data.publications %}
        <h3>{{ publications.section }}</h3>
        {% assign articles_by_year = publications.articles | group_by:"year" %}
        {% for year in articles_by_year %}
            <h4>{{ year.name }}</h4>
            {% assign articles_sorted = year.items | sort:"title" %}
            {% for article in articles_sorted %}
                {% assign article_link = "" %}
                {% if article.link  %}
                    {% assign article_link = article.link %}
                {% endif %}
                <p>
                    <a href={{ article_link }}>{{ article.title }}</a><br>
                    {{ article.authors }}<br>
                    {{ article.venue }} {{ article.year }}.
                </p>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div><! --/container -->
